.navigation {
  display: flex;
  justify-content: left;
  background-color: rgba(182, 216, 148, 0.575);
}

.nav-center {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 5px;
}

.unordered-list {
  padding: 10px 20px;
  margin: 10px 5px;
}

.home {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 5px;
  text-decoration: none;
  font-weight: bold;
}

.link {
  background-color: rgb(55, 55, 232);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  background-color: rgb(74, 74, 179);
  color: whitesmoke;
}

.listItem {
  display: inline;
}
